body {
    background-color: #F5F5F5
}

#dashboardDoctor {
    background-color: #F0F4F7;
    padding: 1%;
    margin: 1%;
    border-radius: 20px;
}

#fetchPatientByRun {
    border-radius: 20px;
    border: 1px solid #C1CCDD;
    box-shadow: inset 0 0 30px #0000002f;
}

#fetchPatientByRun:focus {
    box-shadow: inset 0 0 50px #032f7580;
    transition: ease-in 0.3s all;   
}

.botonR {
    background-color: #C1CCDD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 6.5px;
    border-radius: 15px;
    border: 1px solid #0e015a;
}

.botonR:hover {
    background-color: #020338;
    transition: ease-in 0.3s all;
}

#containerTablePatientDoctor, #containerTablePatientByRunDoctor {
    background-color: #F0F4F7;
    padding: 1%;
    margin: 1%;
    border-radius: 20px;
    display: none;
}

#diagnosisTreatmentContainerDoctor, #medicationContainerDoctor, #containerTableMedicalHistoryDoctor {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #020338;
    padding: 1%;
    width: 50%;
    z-index: 1050;
    color: #1A1A1A;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
}

#diagnosisTreatmentContainerDoctor h2, #medicationContainerDoctor h2, #containerTableMedicalHistoryDoctor h2 {
    color: #fff;
    text-align: center;
} 

.botonesComportamiento {
    margin-top: 3.5%;
    margin-bottom: 2%;
}
