<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" 
          crossorigin="anonymous">
    <link href="/styles/adminStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>

    <main>
        <!-- Dashboard -->
        <section id="Daschboard"> 

            <div class="row mb-3">
                <!-- Buscar Usuario por Email -->
                <div class="col-12 col-md-10">
                    <input type="email" id="buscarPorEmailUsuario" class="form-control" placeholder="Buscar Usuario por Email">
                </div>
                <div class="col-12 col-md-2">
                    <button id="fetchUserBtn" class="boton" type="button">Buscar Usuario</button>
                </div>
            </div>


            <div class="row mb-3">
                <!-- Crear Usuario-->
                <div class="col-12 col-md-6">
                    <button id="openCreateUser" class="boton" type="button">Crear Usuario</button>
                </div>

                <!-- Todos Los Usuarios-->
                <div class="col-12 col-md-6">
                    <button id="fetchUsersBtn" class="boton" type="button">Todos los Usuarios</button>
                </div>

            </div>

        </section>



    <!-- Formulario oculto Crear Usuario -->
    <section>
        
        <div id="formCreateUser" class="formulario-modal">

            <form id="creatreUserForm">

                <!-- Run Usuario -->
                <div class="mb-3 form-group">
                    <label for="runUser" class="label">Run</label>
                    <input type="text" class="form-control" id="runUser" name="runUser" placeholder="Ingresa tu run" required>
                </div>

                <!-- Nombre de Usuario -->
                <div class="mb-3 form-group">
                    <label for="firstNameUser" class="label">Nombre</label>
                    <input type="text" class="form-control" id="firstNameUser" name="firstNameUser" placeholder="Ingresa tu nombre de usuario" required>
                </div>

                <!-- Apellido Paterno -->
                <div class="mb-3 form-group">
                    <label for="lastNameUser1" class="label">Apellido Paterno</label>
                    <input type="text" class="form-control" id="lastNameUser1" name="lastNameUser1" placeholder="Ingresa tu apellido paterno" required>
                </div>

                <!-- Apellido Materno -->
                <div class="mb-3 form-group">
                    <label for="lastNameUser2" class="label">Apellido Materno</label>
                    <input type="text" class="form-control" id="lastNameUser2" name="lastNameUser2" placeholder="Ingresa tu apellido materno" required>
                </div>
                
                <!-- Correo Electrónico -->
                <div class="mb-3 form-group">
                    <label for="emailUser" class="label">Email</label>
                    <input type="email" class="form-control" id="emailUser" name="emailUser" placeholder="Ingresa tu correo electrónico" required>
                </div>

                <!-- Celular de Usuario -->
                <div class="mb-3 form-group">
                    <label for="phoneUser" class="label">Celular</label>
                    <input type="tel" class="form-control" id="phoneUser" name="phoneUser" placeholder="Ingresa tu número de celular" required>
                </div>

                <!-- Contraseña de Usuario -->
                <div class="mb-3 form-group">
                    <label for="passwordUser" class="label">Contraseña</label>
                    <input type="password" class="form-control" id="passwordUser" name="passwordUser" placeholder="Ingresa tu contraseña" required>
                </div>

                <!-- Rol -->
                <div class="mb-3 form-group">
                    <label for="userRole0" class="label">Rol</label>
                    <select id="userRole0" name="userRole0" class="form-control">
                    </select>
                </div>

                <!-- Sexo -->
                <div class="mb-3 form-group">
                    <label for="userSex0" class="label">Sexo</label>
                    <select id="userSex0" name="userSex0" class="form-control">
                    </select>
                </div>
                
                <div class="row mb-3">
                    <!-- Botón de Cerrar -->
                    <div class="form-group col-12 col-md-6">
                        <button type="button" class="btn btn-dark w-100" id="closeCreateUser">Cerrar</button>
                    </div>

                    <!-- Botón de Enviar -->
                    <div class="form-group col-12 col-md-6">
                        <button type="submit" class="btn btn-dark w-100" id="createUserBtn">Crear Usuario</button>
                    </div>
                </div>
            </form>
                    
            <!-- Contenedor de errores -->
            <div id="errorContainer" style="color: red;"></div>
        </div>
    </section>


    <!-- Tabla de usuarios -->
    <section id="containerTable" class="containerTable">
        <table id="userTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Run</th>
                    <th>Nombre Completo</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Rol</th>
                    <th>Sexo</th>
                    <th>Gestión</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- Aquí se llenarán los datos de los usuarios -->
            </tbody>
        </table>
    </section>
        

    <!-- Formulario para Modificar Usuario -->
    <section>
        
        <div id="formUpdateUser" class="formulario-modal">

            <form id="updateUserForm">

                <!-- Run Usuario -->
                <div class="mb-3 form-group">
                    <label for="updateRunUser" class="label">Run</label>
                    <input type="text" class="form-control" id="updateRunUser" name="updateRunUser" placeholder="Ingresa tu run">
                </div>

                <!-- Nombre de Usuario -->
                <div class="mb-3 form-group">
                    <label for="updateFirstNameUser" class="label">Nombre</label>
                    <input type="text" class="form-control" id="updateFirstNameUser" name="updateFirstNameUser" placeholder="Ingresa tu nombre de usuario">
                </div>

                <!-- Apellido Paterno -->
                <div class="mb-3 form-group">
                    <label for="updateLastNameUser1" class="label">Apellido Paterno</label>
                    <input type="text" class="form-control" id="updateLastNameUser1" name="updateLastNameUser1" placeholder="Ingresa tu apellido paterno">
                </div>

                <!-- Apellido Materno -->
                <div class="mb-3 form-group">
                    <label for="updateLastNameUser2" class="label">Apellido Materno</label>
                    <input type="text" class="form-control" id="updateLastNameUser2" name="updateLastNameUser2" placeholder="Ingresa tu apellido materno">
                </div>
                
                <!-- Correo Electrónico -->
                <div class="mb-3 form-group">
                    <label for="updateEmailUser" class="label">Email</label>
                    <input type="email" class="form-control" id="updateEmailUser" name="updateEmailUser" placeholder="Ingresa tu correo electrónico">
                </div>

                <!-- Celular de Usuario -->
                <div class="mb-3 form-group">
                    <label for="updatePhoneUser" class="label">Celular</label>
                    <input type="tel" class="form-control" id="updatePhoneUser" name="updatePhoneUser" placeholder="Ingresa tu número de celular">
                </div>

                <!-- Contraseña de Usuario -->
                <div class="mb-3 form-group">
                    <label for="updatePasswordUser" class="label">Contraseña</label>
                    <input type="password" class="form-control" id="updatePasswordUser" name="updatePasswordUser" placeholder="Ingresa tu contraseña">
                </div>

                <!-- Rol -->
                <div class="mb-3 form-group">
                    <label for="UserRole1" class="label">Rol</label>
                    <select id="userRole1" name="userRole1" class="form-control">
                    </select>
                </div>

                <!-- Sexo -->
                <div class="mb-3 form-group">
                    <label for="userSex1" class="label">Sexo</label>
                    <select id="userSex1" name="userSex1" class="form-control">
                    </select>
                </div>

            <div class="row mb-3">

                <!-- Botón de Cerrar -->
                <div class="form-group col-12 col-md-6">
                    <button type="button" class="btn btn-dark w-100" id="closeUpdateUserBtn">Cerrar</button>
                </div>


                <!-- Botón de Enviar -->
                <div class="form-group col-12 col-md-6">
                    <button type="button" class="btn btn-dark w-100" id="sendUpdateUserBtn">Modificar Usuario</button>
                </div>


                <!-- Contenedor de errores -->
                <div id="errorContainerPut" style="color: red;"></div>
            </div>
            </form>
        </div>

    </section>

    </main>


    <script src="/js/adminFunctions.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
    crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" 
    integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" 
    crossorigin="anonymous"></script>

</body>
</html>