<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Recepcionista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" 
          crossorigin="anonymous">
    <link href="/styles/receptionistStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>
    <main>

        <!-- Cerrar Sesión -->
        <div class="row mb-3">
            <div class="col-12 col-md-4 offset-md-11 as">
                <form method="POST" action="/salir" class="logout-form">
                    <button type="submit" class="logout">Cerrar sesión</button>
                </form>  
            </div>
        </div>    

        <!-- Dashboard -->
        <section id="daschboardRecepcionista"> 

            <div id="errorDashboardPatient" style="color: red;"></div>  
            <div class="row mb-3">
                <!-- Buscar Paciente por Run -->
                <div class="col-12 col-md-10">
                    <input type="text" id="fetchPatientByRun" class="form-control" placeholder="Buscar Paciente por Run">
                </div>
                <div class="col-12 col-md-2">
                    <button id="fetchPatientBtn" class="botonR" type="button">Buscar Paciente</button>
                </div>
            </div>


            <div class="row mb-3">
                <!-- Crear Paciente -->
                <div class="col-12 col-md-6">
                    <button id="openCreatePatient" class="botonR" type="button">Crear Paciente</button>
                </div>

                <!-- Citas del Día -->
                <div class="col-12 col-md-6">
                    <button id="fetchAppointmentsOfThewDayBtn" class="botonR" type="button">Citas Del Día</button>
                </div>        
            </div>

        </section>

        <!-- Crear Paciente -->
        <section>
            <div id="formCreatePatient" class="formulario-modal">
    
                <form id="createPatientForm">
    
                    <!-- Run Usuario -->
                    <div class="mb-3 form-group">
                        <label for="runPatient" class="label">Run</label>
                        <input type="text" class="form-control" id="runPatient" name="runPatient" placeholder="Ingresa el run del paciente" required>
                    </div>
    
                    <!-- Nombre de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="firstnamePatient" class="label">Nombre</label>
                        <input type="text" class="form-control" id="firstnamePatient" name="firstnamePatient" placeholder="Ingresa el nombre del paciente" required>
                    </div>
    
                    <!-- Apellido Paterno -->
                    <div class="mb-3 form-group">
                        <label for="lastnamePatient1" class="label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="lastnamePatient1" name="lastnamePatient1" placeholder="Ingresa el apellido paterno del paciente" required>
                    </div>
    
                    <!-- Apellido Materno -->
                    <div class="mb-3 form-group">
                        <label for="lastnamePatient2" class="label">Apellido Materno</label>
                        <input type="text" class="form-control" id="lastnamePatient2" name="lastnamePatient2" placeholder="Ingresa el apellido materno del paciente">
                    </div>
                    
                    <!-- Correo Electrónico -->
                    <div class="mb-3 form-group">
                        <label for="emailPatient" class="label">Email</label>
                        <input type="email" class="form-control" id="emailPatient" name="emailPatient" placeholder="Ingresa el correo electrónico del paciente" required>
                    </div>
    
                    <!-- Celular de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="phonePatient" class="label">Celular</label>
                        <input type="tel" class="form-control" id="phonePatient" name="phonePatient" placeholder="Ingresa el número de celular del paciente" required>
                    </div>

                    <!-- Fecha de nacimiento -->
                    <div class="mb-3 form-group">
                        <label for="bornDatePatient" class="label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="bornDatePatient" name="bornDatePatient" placeholder="Ingresa la fecha de nacimiento del paciente" required>
                    </div>

                    <!-- Prevision médica -->
                    <div class="mb-3 form-group">
                        <label for="PatientHealthInsurance0" class="label">Previsión Médica</label>
                        <select id="PatientHealthInsurance0" name="PatientHealthInsurance0" class="form-control">
                        </select>
                    </div>

                    <!-- Sexo -->
                    <div class="mb-3 form-group">
                        <label for="userSex3" class="label">Sexo</label>
                        <select id="userSex3" name="userSex3" class="form-control">
                        </select>
                    </div>
                    
                    <div class="row mb-3">
                        <!-- Botón de Cerrar -->
                        <div class="form-group col-12 col-md-6">
                            <button type="button" class="btn btn-dark w-100" id="closeCreatePatientBtn">Cerrar</button>
                        </div>
    
                        <!-- Botón de Enviar -->
                        <div class="form-group col-12 col-md-6">
                            <button type="submit" class="btn btn-dark w-100" id="createPatientBtn">Crear Paciente</button>
                        </div>
                    </div>
                </form>
                        
                <!-- Contenedor de errores -->
                <div id="errorContainerPatient" style="color: red;"></div>
            </div>
        </section>


        <!-- Tabla de pacientes -->
        <section id="containerTablePatient" class="containerTable">
            <table id="patientTable" class="table table-striped table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>Run</th>
                        <th>Nombre Completo</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Previsión Médica</th>
                        <th>Sexo</th>
                        <th>Gestión Paciente</th>
                        <th>Gestión Citas</th>
                    </tr>
                </thead>
                <tbody id="patientTableBody">
                    <!-- Aquí se llenarán los datos de los usuarios -->
                </tbody>
            </table>
        </section>


        <!-- Modificar Paciente -->
        <section>

            <div id="formUpdatePatient" class="formulario-modal">
        
                <form id="updatePatientForm">
        
                    <!-- Run Usuario -->
                    <div class="mb-3 form-group">
                        <label for="updateRunPatient" class="label">Run</label>
                        <input type="text" class="form-control" id="updateRunPatient" name="updateRunPatient" placeholder="Ingresa el run del paciente">
                    </div>
        
                    <!-- Nombre de Usuario -->
                    <div class="mb-3 form-group">
                    <label for="updateFirstnamePatient" class="label">Nombre</label>
                        <input type="text" class="form-control" id="updateFirstnamePatient" name="updateFirstnamePatient" placeholder="Ingresa el nombre del paciente">
                    </div>
    
                    <!-- Apellido Paterno -->
                    <div class="mb-3 form-group">
                        <label for="updateLastnamePatient1" class="label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="updateLastnamePatient1" name="updateLastnamePatient1" placeholder="Ingresa el apellido paterno del paciente">
                    </div>
    
                    <!-- Apellido Materno -->
                    <div class="mb-3 form-group">
                        <label for="updateLastnamePatient2" class="label">Apellido Materno</label>
                        <input type="text" class="form-control" id="updateLastnamePatient2" name="updateLastnamePatient2" placeholder="Ingresa el apellido materno del paciente">
                    </div>
                    
                    <!-- Correo Electrónico -->
                    <div class="mb-3 form-group">
                        <label for="updateEmailPatient" class="label">Email</label>
                        <input type="email" class="form-control" id="updateEmailPatient" name="updateEmailPatient" placeholder="Ingresa el correo electrónico del paciente">
                    </div>
    
                    <!-- Celular de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="updatePhonePatient" class="label">Celular</label>
                        <input type="tel" class="form-control" id="updatePhonePatient" name="updatePhonePatient" placeholder="Ingresa el número de celular del paciente">
                    </div>

                    <!-- Prevision médica -->
                    <div class="mb-3 form-group">
                        <label for="PatientHealthInsurance1" class="label">Previsión Médica</label>
                        <select id="PatientHealthInsurance1" name="PatientHealthInsurance1" class="form-control">
                        </select>
                    </div>

                    <!-- Sexo -->
                    <div class="mb-3 form-group">
                        <label for="userSex4" class="label">Sexo</label>
                        <select id="userSex4" name="userSex4" class="form-control">
                        </select>
                    </div>
                    
                    <div class="row mb-3">
                        <!-- Botón de Cerrar -->
                        <div class="form-group col-12 col-md-6">
                            <button type="button" class="btn btn-dark w-100" id="closeUpdatePatientBtn">Cerrar</button>
                        </div>
    
                        <!-- Botón de Enviar -->
                        <div class="form-group col-12 col-md-6">
                            <button type="submit" class="btn btn-dark w-100" id="updatePatientBtn">Modificar Paciente</button>
                        </div>
                    </div>
                </form>
                        
                    <!-- Contenedor de errores -->
                    <div id="updateErrorContainerPatient" style="color: red;"></div>
            </div>
        </section>


        <!-- Agendar Citas -->
        <section>

            <div id="containerAppointment">
                <!-- Filtros -->
                <div class="row mb-3">

                    <!-- Selección de médico -->
                    <div class="col-12 col-md-3">
                        <label for="doctorSelect" class="label">Médicos</label>
                        <select id="doctorSelect" name="doctorSelect" class="form-control">
                            <!-- Se cargarán los médicos aquí -->
                        </select>
                    </div>

                    <!-- Fecha de inicio -->
                    <div class="col-12 col-md-3">
                        <label for="initialDate" class="label">Desde</label>
                        <input type="date" class="form-control" id="initialDate" name="initialDate">
                    </div>

                    <!-- Fecha de fin -->
                    <div class="col-12 col-md-3">
                        <label for="finalDate" class="label">Hasta</label>
                        <input type="date" class="form-control" id="finalDate" name="finalDate">
                    </div>

                    <!-- Botón de Enviar -->
                    <div class="col-12 col-md-3">
                        <label for="filtroBtn" class="label">Filtro</label>
                        <button type="submit" class="btn btn-dark w-100" id="filtroBtn"> Filtrar </button>
                    </div>

            </div>
                <div id="dateFilter" class="mb-3"></div>
                <table id="appointmentsTable" class="table table-striped table-bordered mt-4">
                    <thead class="table-light" id="appointmentsTableHead">
                    <tr>
                        <th style="width: 25%;">Médico</th>
                        <th style="width: 25%;">Fecha</th>
                        <th style="width: 25%;">Hora</th>
                        <th style="width: 25%;">Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Se llenará dinámicamente -->
                    </tbody>
                </table>
                
                <!-- Botón de Cerrar -->
                <div class="form-group col-12 col-md-12">
                    <button type="button" class="btn btn-dark w-100" id="closeAppointmentBtn">Cerrar</button>
                </div>            
            </div>


        </section>

        <!-- Ver Todas las citas de un paciente -->
        <section>

            <div id="containerAllAppointments" class="containerTable">
                <table id="allAppointmentsTable" class="table table-striped table-bordered mt-4 text-center">
                    <thead class="table-light" id="allAppointmentsTableHead">
                    <tr>
                        <th>Nombre Paciente</th>
                        <th>Nombre Médico</th>
                        <th>Fecha</th>
                        <th>Hora</thle=>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody id="allAppointmentsTableBody">
                    <!-- Se llenará dinámicamente -->
                    </tbody>
                </table>

                <!-- Botón de Cerrar -->
                <div class="form-group col-12 col-md-12">
                    <button type="button" class="btn btn-dark w-100" id="closeAllPatientAppointmentBtn">Cerrar</button>
                </div>                          
            </div>

        </section>

        <!-- Ver Citas del día -->
        <section>

            <div id="containerAppointmentsOfTheDay" class="containerTable">
                <table id="AppointmentsOfTheDayTable" class="table table-striped table-bordered mt-4 text-center">
                    <thead class="table-light" id="AppointmentsOfTheDayTableHead">
                    <tr>
                        <th>Run Paciente</th>
                        <th>Nombre Completo Paciente</th>
                        <th>Nombre Completo Médico</th>
                        <th>Fecha / Hora</thle=>
                        <th>Pago</th>
                    </tr>
                    </thead>
                    <tbody id="AppointmentsOfTheDayTableBody">
                    <!-- Se llenará dinámicamente -->
                    </tbody>
                </table>                    
            </div>

        </section>

        <!-- Pagar Citas -->
        <section>

            <form id="paymentForm">

                <div class="receipt" id="receipt">
                    <h2>Boleta de Pago</h2>

                    <div class="line">
                        <span>ID de Cita:</span>
                        <span id="appointmentId"></span>
                    </div>

                    <div class="line">
                        <span>Precio Original:</span>
                        <span id="originalPrice"></span>
                    </div>

                    
                    <div class="line">
                        <span>Descuento:</span>
                        <span id="discountAmount"></span>
                    </div>

                    <div class="line">
                        <span>Descuento Aplicado:</span>
                        <span id="discount"></span>
                    </div>


                    <div class="line">
                        <span>Total a Pagar:</span>
                        <span id="totalPrice"></span>
                    </div>

                    <div class="line" id="AmountPaid"> 
                        <span>Monto:</span>
                        <input type="number" id="AmountOfChange" name="AmountOfChange" required></input>
                    </div>
                    
                    <div class="line" id="Change"> 
                        <span>Vuelto:</span>
                        <span id="change"></span>
                    </div>

                    <div class="row mb-3">
                        <!-- Botón de Cerrar -->
                        <div class="form-group col-12 col-md-6">
                            <button type="button" class="btn btn-dark w-100" id="closePaymentBtn">Cerrar</button>
                        </div>

                        <!-- Botón de Enviar -->
                        <div class="form-group col-12 col-md-6">
                            <button type="submit" class="btn btn-dark w-100" id="payBtn">Pagar</button>
                        </div>
                    </div>      
                </div>
            </form>    

        </section>

    </main>

    <script src="/Js/receptionistFunctions.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
    crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js" 
    integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+" 
    crossorigin="anonymous"></script>

</body>
</html>




